<main class="container per-dash-contain flex-dash">
	<nav class="per-sidebar">
		<ul class="per-nav">
			<!--<li><a href="#"><span class="nav-text">Resources</span><span class="glyphicon glyphicon-education" aria-hidden="true"></span></a></li>-->
			<li><a href="#/dashboard" class="per-side-active"><span class="nav-text">To-Do</span><span class="glyphicon glyphicon-ok-circle" aria-hidden="true"></span></a></li>
			<!--<li><a href="#"><span class="nav-text">Team Info</span><span class="glyphicon glyphicon-user" aria-hidden="true"></span></a></li>-->
		</ul>
	</nav>
	<section class="per-dash clearfix">
		<div class="col-sm-12 dash-card alert-messages">
			<div class="alert alert-success" role="alert"><span class="glyphicon glyphicon-ok"></span> Hooray! You did it!</div>
			<div class="alert alert-info" role="alert"><span class="glyphicon glyphicon-flag"></span> Hey, you should know this&hellip;</div>
			<div class="alert alert-warning" role="alert"><span class="glyphicon glyphicon-exclamation-sign"></span> Uh-oh, you better be careful&hellip;</div>
			<div class="alert alert-danger" role="alert"><span class="glyphicon glyphicon-fire"></span> HALP! HALP! Your website is on fire!!!</div>
		</div>
		<div class="col-sm-12 dash-card user-details">
			<h1 class="per-dash-user"><img src="/assets/images/profile-large-2x.png" alt="User profile image"/> {{name}} Prior-Pfeifer</h1>
			<p class="per-dash-date">Today is <span id="date"></span> {{mm}} {{dd}}, {{yyyy}}</p>
		</div>
		<div class="col-sm-12 dash-card to-do">
			<table>
				<tr class="due-soon">
					<td class="due-date">Due in<span class="days-left">3 days</span></td>
					<td class="due-item">Peer Feedback: Praise Burnham</td>
					<td class="due-tasks">
						<a class="icon-edit" href="#/goals"></a>
						<a class="icon-ical"></a>
					</td>
				</tr>
				<tr>
					<td class="due-date">Due in<span class="days-left">10 days</span></td>
					<td class="due-item">Set Goals: {{name}} Prior-Pfeifer</td>
					<td class="due-tasks">
						<a class="icon-edit" href="#/goals"></a>
						<a class="icon-ical"></a>
					</td>
				</tr>
			</table>
		</div>
		<div class="col-sm-12 dash-card cycle">
			<h3>Goal Setting Cycle Ends: <span class="attn-text">September 30</span></h3>
			<div class="cycle-chart-contain">
				<ul class="cycle-dates">
					<li class="cycle-0">Aug:<br/>Peer Feedback</li>
					<li class="cycle-active cycle-1">Sept:<br/>Goal Setting</li>
					<li class="cycle-2">Dec:<br/>Peer Feedback</li>
					<li class="cycle-3">Jan:<br/>Check-In</li>
					<li class="cycle-4">April:<br/>Peer Feedback</li>
					<li class="cycle-5">May:<br/>Self Assess</li>
					<li class="cycle-6">June:<br/>Annual Review</li>
				</ul>
				<div class="cycle-chart cycle-spin-1"></div>
			</div>		
		</div>
	</section>
</main>