<ul class="per-nav">
    <li><a ui-sref="dashboard" ui-sref-active="per-side-active"><span class="nav-text">Dashboard</span><span class="glyphicon glyphicon-ok-circle" aria-hidden="true"></span></a></li>
    <li><a ui-sref="dash-resources" ui-sref-active="per-side-active"><span class="nav-text">Resources</span><span class="glyphicon glyphicon-education" aria-hidden="true"></span></a></li>
    <!--<li><a ui-sref="#" ui-sref-active="per-side-active"><span class="nav-text">Team Info</span><span class="glyphicon glyphicon-user" aria-hidden="true"></span></a></li>-->
</ul>
