// forms

.section {
	margin-bottom: $element-spacing;
	padding-bottom: 9px;

	&:hover,
	&:active {
		.section-header {
			background: $blue-grey;
		}
	}

	&.section-last {
		border-bottom: 0;
	}

	.name > div + div {
		margin-top: 24px;

		@include breakpoint(sm) {
			margin-top: 0;
		}
	}

	@include breakpoint(md) {
		margin-bottom: $section-spacing;
		border-bottom: 1px solid $grey;
	}
}

.form-control {
	height: auto;
	padding: 12px $element-spacing;
	border-radius: 0;
}

label {
	margin-bottom: 6px;
}

.subsection-header {
	margin-top: 0;
	margin-bottom: $element-spacing;
}

.rating-9-box {
	position: relative;
	height: 876px;

	.ratings-subheader {
		border: none;
		padding: 0;
	}

	.vertical-subheaders {
		position: absolute;
		top: 0;
		left: 0;
		width: 876px;
		height: 890px;
		-webkit-transform: rotate(-90deg);
		-ms-transform: rotate(-90deg);
		transform: rotate(-90deg);
	}

	.rating {
		height: 288px;
		padding: 16px;
		border: 2px solid $white;
		background: $lightest-grey;
	}

	.rating-wrapper {
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
	}
	.box-01:hover,
	.box-01:active,
	input:checked ~ .box-01 {
		color: $white;
		background: $red;
	}

	.box-02:hover,
	.box-02:active,
	.box-03:hover,
	.box-03:active,
	input:checked ~ .box-02,
	input:checked ~ .box-03 {
		color: $white;
		background: desaturate($red, 40%);
	}

	.box-04:hover,
	.box-04:active,
	.box-05:hover,
	.box-05:active,
	.box-06:hover,
	.box-06:active,
	input:checked ~ .box-04,
	input:checked ~ .box-05,
	input:checked ~ .box-06 {
		color: $white;
		background: $grey;
	}

	.box-07:hover,
	.box-07:active,
	.box-08:hover,
	.box-08:active,
	input:checked ~ .box-07,
	input:checked ~ .box-08 {
		background: lighten($grey, 20%);
	}

	.box-09:hover,
	.box-09:active,
	input:checked ~ .box-09 {
		background: lighten($grey, 50%);
	}
}