// forms

.section {
	margin-bottom: $section-spacing;
	padding-bottom: $section-spacing;
	border-bottom: 1px solid $grey;

	&:hover,
	&:active {
		.section-header {
			background: $blue-grey;
		}
	}

	&.section-last {
		border-bottom: 0;
	}
}

.form-control {
	height: auto;
	padding: 12px 16px;
	border-radius: 0;
}

label {
	margin-bottom: 6px;
}

.subsection-header {
	margin-bottom: 32px;
}