// forms

.section {
	margin-bottom: $element-spacing;
	padding-bottom: 9px;

	&:hover,
	&:active {
		.section-header {
			background: $blue-grey;
		}
	}

	&.section-last {
		border-bottom: 0;
	}

	.name > div + div {
		margin-top: 24px;

		@include breakpoint(sm) {
			margin-top: 0;
		}
	}

	@include breakpoint(md) {
		margin-bottom: $section-spacing;
		border-bottom: 1px solid $grey;
	}
}

.section-header {
	@include transition(background);
}

.form-control {
	height: auto;
	padding: 12px $element-spacing;
	border-radius: 0;
	box-shadow: none;

	@include transition(box-shadow);

	&:focus,
	&:active {
		@include focus-outline;
	}
}

label {
	margin-bottom: 6px;
}

input, textarea {
	@include transition(box-shadow);
}

.subsection-header {
	margin-top: 0;
	margin-bottom: $element-spacing;
}
