// dropdown
select {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	border-radius: 0;
	padding-right: 40px !important;
	background: #fff url('/assets/images/select-triangle-large.png') no-repeat 98% center !important;
}