// colors
$red: rgb(205,20,33);
$orange: rgb(245,155,21);
$lightest-grey: rgb(208,216,219);
$light-grey: rgb(181,181,181);
$grey: rgb(114,114,114);
$blue-grey: rgb(70,91,100);
$dark-grey: rgb(37,37,37);
$white: rgb(250,250,250);

// notification colors
$success: #447D64;
$info: #4A6770;
$warning: $orange;
$danger: #A94442;