.goals {
  margin-bottom: 40px; }
  .goals:last-child {
    margin-bottom: 0; }

.goal {
  margin-bottom: 24px; }
  .goal:last-child {
    margin-bottom: 0; }

.goal + .goal {
  margin-top: 40px; }

.due-date + div {
  margin-top: 0; }

@media (min-width: 992px) {
  .goals:last-child .goal .form-group .row .form-group {
    margin-bottom: 0; } }
