// buttons
.buttons {
	text-align: center;
}

.btn {
	@include button;
}

.btn ~ .btn {
	display: block;
	margin: $element-spacing auto;
}

@include breakpoint(sm) {
	.btn ~ .btn {
		display: inline-block;
		margin-left: $element-spacing;
	}

	.btn:last-child {
		margin-right: $element-spacing;
	}
}
