<main class="container per-dash-contain flex-dash">
	<nav class="per-sidebar" ng-include="'/views/shared/dashboard-nav.html'"></nav>
	<section class="per-dash clearfix">
	<div class="col-sm-12 dash-card completed">
		<h3>Recently Completed:</h3>

		<div class="row card-sort">
			<div class="filter col-xs-12">
				<input type="search" placeholder="Filter by name" class="sort-input search" />
			</div>
			<div class="view-amount col-xs-6">
			<select name="archive-view" id="archive-view">
				<option value="5" selected>5 per page</option>
				<option value="10">10 per page</option>
				<option value="20">20 per page</option>
				<option value="all">View all</option>
			</select>
			</div>
			<div class="paginator col-xs-6">
				<div class="prev-arrow"></div>
				<input type="number" value="1" name="completed-page" class="sort-input page-number"/> of <span class="total-pages">30</span>
				<div class="next-arrow"></div>
			</div>
		</div>

		<div class="completed-block completed-recent">
			<p class="completed-item">Peer Feedback: Praise Burnham</p>
			<p class="completed-date">Submission period ended. <a ui-sref="peer-feedback" target="_blank">View Submission.</a></p>
			<p class="completed-date">Date submitted: 08/25/2017</p>
		</div>

		<div class="completed-block">
			<p class="completed-item">Peer Feedback: Nerio Mones</p>
			<p class="completed-date">Submission period ended. <a ui-sref="peer-feedback" target="_blank">View Submission.</a></p>
			<p class="completed-date">Date submitted: 08/20/2017</p>
		</div>

		<div class="completed-block">
			<p class="completed-item">Peer Feedback: Scott Kao</p>
			<p class="completed-date">Submission period ended. <a ui-sref="peer-feedback" target="_blank">View Submission.</a></p>
			<p class="completed-date">Date submitted: 08/15/2017</p>
		</div>
	</div>
	</section>
</main>