<main class="container per-dash-contain flex-dash">
	<nav class="per-sidebar" ng-include="'/views/shared/dashboard-nav.html'"></nav>
	<section class="per-dash clearfix">
		<div class="col-sm-12 dash-card alert-messages">
			<div uib-alert ng-repeat="alert in alerts" ng-class="'alert alert-' + (alert.type || 'warning')" close="closeAlert($index)">
				<i ng-class="'glyphicon glyphicon-' + (alert.icon || 'exclamation-sign')"></i> {{alert.msg}} </div>
		</div>

		<div class="col-sm-12 dash-card user-details">
			<h1 class="per-dash-user"><img src="/assets/images/profile-large-2x.png" alt="User profile image"/> {{name}} </h1>
			<p class="per-dash-date">Today is <span id="date"></span> {{mm}} {{dd}}, {{yyyy}}</p>
		</div>
		<div class="col-sm-12 dash-card to-do">
			<table>
				<tr class="due-soon">
					<td class="due-date">Due in<span class="days-left">3 days</span></td>
					<td class="due-item">Peer Feedback: Praise Burnham</td>
					<td class="due-tasks">
						<a class="icon-edit" href="#/goals"></a>
						<a class="icon-ical"></a>
					</td>
				</tr>
				<tr>
					<td class="due-date">Due in<span class="days-left">10 days</span></td>
					<td class="due-item">Set Goals: {{name}} Prior-Pfeifer</td>
					<td class="due-tasks">
						<a class="icon-edit" href="#/goals"></a>
						<a class="icon-ical"></a>
					</td>
				</tr>
			</table>
		</div>

		<div class="col-sm-12 dash-card cycle">
			<h3>Goal Setting Cycle Ending: <span class="attn-text">September 30</span></h3>
			<lvl-calendar-wheel class="lvl-calendar-wheel"></lvl-calendar-wheel>
		</div>

	</section>

</main>
