<main class="container per-dash-contain flex-dash">
	<nav class="per-sidebar">
		<ul class="per-nav">
			<li><a href="#!/dashboard/resources" class="per-side-active"><span class="nav-text">Resources</span><span class="glyphicon glyphicon-education" aria-hidden="true"></span></a></li>
			<li><a href="#!/dashboard"><span class="nav-text">To-Do</span><span class="glyphicon glyphicon-ok-circle" aria-hidden="true"></span></a></li>
<!-- 			<li><a href="#"><span class="nav-text">Team Info</span><span class="glyphicon glyphicon-user" aria-hidden="true"></span></a></li> -->
		</ul>
	</nav>
	<section class="per-dash clearfix">
		<div class="col-sm-12 dash-card forms">
			<button>Hello World</button>
		</div>
	</section>
</main>