<main class="container per-dash-contain flex-dash">
	<nav class="per-sidebar" ng-include="'/views/shared/dashboard-nav.html'"></nav>
	<section class="per-dash clearfix">
		<!--  ALERTS
		   <div class="alert-messages">
		 	<div uib-alert ng-repeat="alert in alerts" ng-class="'alert alert-' + (alert.type || 'warning')" close="closeAlert($index)">
		 		<i ng-class="'glyphicon glyphicon-' + (alert.icon || 'exclamation-sign')"></i> {{alert.msg}} </div>
		 	</div> -->

		<div class="col-sm-12 dash-card user-details">
			<h1 class="per-dash-user"><img src="/assets/images/profile-large-2x.png" alt="User profile image"/> {{name}} </h1>
			<p class="per-dash-date">Today is <span id="date"></span> {{mm}} {{dd}}, {{yyyy}}</p>
		</div>
		<div class="col-sm-12 dash-card to-do">
			<h3>To do:</h3>
			<div class="due-soon to-do-block">
				<p class="due-item">Set Goals: Megan Prior-Pfeifer</p>
				<p class="due-tasks">
					<a class="icon-edit" ui-sref="goals"></a>
					<a class="icon-ical"></a>
				</p>
				<p class="due-date"><span class="days-left">3 days</span> until submission deadline.</p>
			</div>
		</div>
		<div class="col-sm-12 dash-card completed">
			<h3>Recently Completed:</h3>

			<div class="completed-block">
				<p class="completed-item">Peer Feedback: Praise Burnham</p>
				<p class="completed-date">Submission period ended. <a ui-sref="peer-feedback" target="_blank">View Submission.</a></p>
				<p class="completed-date">Date submitted: 08/25/2017</p>
			</div>

			<div class="completed-block">
				<p class="completed-item">Peer Feedback: Nerio Mones</p>
				<p class="completed-date">Submission period ended. <a ui-sref="peer-feedback" target="_blank">View Submission.</a></p>
				<p class="completed-date">Date submitted: 08/20/2017</p>
			</div>

			<div class="completed-block">
				<p class="completed-item">Peer Feedback: Scott Kao</p>
				<p class="completed-date">Submission period ended. <a ui-sref="peer-feedback" target="_blank">View Submission.</a></p>
				<p class="completed-date">Date submitted: 08/15/2017</p>
			</div>

			<div class="row card-sort">
				<div class="filter col-xs-6">
					<input type="search" placeholder="Filter by name" class="sort-input search" />
				</div>
				<div class="paginator col-xs-6">
					<div class="prev-arrow"></div>
					<input type="number" value="1" name="completed-page" class="sort-input page-number"/> of <span class="total-pages">30</span>
					<div class="next-arrow"></div>
				</div>
			</div>
		</div>

		<div class="col-sm-12 dash-card cycle">
			<h3><span class="cycle-name">Goal Setting Cycle Ending:</span> <span class="attn-text">September 30</span></h3>
			<lvl-calendar-wheel class="lvl-calendar-wheel"></lvl-calendar-wheel>
		</div>

	</section>

</main>
