<main class="container">

	<header class="hero-header">
		<h1 class="header-goals">LEVEL - Goal Setting</h1>
	</header>

	<form name="goalsForm" novalidate autocomplete="off" ng-submit="goalsForm.$valid && saveGoals()">

		<section class="row section flex-section">
			<div class="col-md-3 section-header goals-setting-details">
				<h2>Goals</h2>
			</div>

			<div class="col-xs-10 col-xs-offset-1 col-md-8 col-md-offset-1">
				<div class="row">
					<p>Please list your goals for the performance year and update this form throughout the year as goals and projects change.</p>
				</div>

				<div class="row goals results">
					<div class="row goal">
						<div class="col-md-12">
							<h3 class="subsection-header">Results</h3>
						</div>
						<div class="col-md-12 form-group">
							<label for="resultsGoal1Desc">Goal Description<span class="required">*</span></label>
							<textarea name="resultsGoal1Desc" id="resultsGoal1Desc" rows="11" class="form-control" placeholder="Describe your Results goal" ng-model="goalsFormInfo.resultsGoal1Desc" required></textarea>
							<div ng-if="goalsForm.$submitted && goalsForm.resultsGoal1Desc.$invalid">
								 <div when="required" class="validation-error">This field is required</div>
							</div>
						</div>
						<div class="col-md-12 form-group">
							<div class="row">
								<div class="col-xs-12 col-sm-6 form-group due-date">
									<label for="resultsGoal1Date">Target Date<span class="required">*</span></label>
									<input name="resultsGoal1Date" id="resultsGoal1Date" placeholder="MM/DD/YYYY" class="form-control" ng-model="goalsFormInfo.resultsGoal1Date" required>
									<div ng-if="goalsForm.$submitted && goalsForm.resultsGoal1Date.$invalid">
										<div when="required" class="validation-error">This field is required</div>
									</div>
								</div>
								<div class="col-xs-12 col-sm-6 form-group goal-status">
									<label for="resultsGoal1Status">Goal Status<span class="required">*</span></label>
									<select name="resultsGoal1Status" id="resultsGoal1Status" class="form-control" ng-model="goalsFormInfo.resultsGoal1Status" required>
										<option value="">Please select status</option>
										<option ng-repeat="status in goalStatus" value="{{status}}">{{status}}</option>
									</select>
									<div ng-if="goalsForm.$submitted && goalsForm.resultsGoal1Status.$invalid">
										<div when="required" class="validation-error">This field is required</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="row goals expertise">
					<div class="row goal">
						<div class="col-md-12">
							<h3 class="subsection-header">Expertise</h3>
						</div>
						<div class="col-md-12 form-group">
							<label for="expertGoal1Desc">Goal Description<span class="required">*</span></label>
							<textarea name="expertGoal1Desc" id="expertGoal1Desc" rows="11" placeholder="Describe your Expertise goal" class="form-control" ng-model="goalsFormInfo.expertGoal1Desc" required></textarea>
							<div ng-if="goalsForm.$submitted && goalsForm.expertGoal1Desc.$invalid">
								 <div when="required" class="validation-error">This field is required</div>
							</div>
						</div>
						<div class="col-md-12 form-group">
							<div class="row">
								<div class="col-xs-12 col-sm-6 form-group due-date">
									<label for="expertGoal1Date">Target Date<span class="required">*</span></label>
									<input name="expertGoal1Date" id="expertGoal1Date" placeholder="MM/DD/YYYY" class="form-control" ng-model="goalsFormInfo.expertGoal1Date" required>
									<div ng-if="goalsForm.$submitted && goalsForm.expertGoal1Date.$invalid">
										<div when="required" class="validation-error">This field is required</div>
									</div>
								</div>
								<div class="col-xs-12 col-sm-6 form-group goal-status">
									<label for="expertGoal1Status">Goal Status<span class="required">*</span></label>
									<select name="expertGoal1Status" id="expertGoal1Status" class="form-control" ng-model="goalsFormInfo.expertGoal1Status" required>
										<option value="">Please select status</option>
										<option ng-repeat="status in goalStatus" value="{{status}}">{{status}}</option>
									</select>
									<div ng-if="goalsForm.$submitted && goalsForm.expertGoal1Status.$invalid">
										<div when="required" class="validation-error">This field is required</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="row goals collaboration">
					<div class="row goal">
						<div class="col-md-12">
							<h3 class="subsection-header">Collaboration</h3>
						</div>
						<div class="col-md-12 form-group">
							<label for="collabGoal1Desc">Goal Description<span class="required">*</span></label>
							<textarea name="collabGoal1Desc" id="collabGoal1Desc" rows="11" placeholder="Describe your Collaboration goal" class="form-control" ng-model="goalsFormInfo.collabGoal1Desc" required></textarea>
							<div ng-if="goalsForm.$submitted && goalsForm.collabGoal1Desc.$invalid">
								 <div when="required" class="validation-error">This field is required</div>
							</div>
						</div>
						<div class="col-md-12 form-group">
							<div class="row">
								<div class="col-xs-12 col-sm-6 form-group due-date">
									<label for="collabGoal1Date">Target Date<span class="required">*</span></label>
									<input class="form-control" name="collabGoal1Date" id="collabGoal1Date" placeholder="MM/DD/YYYY" ng-model="goalsFormInfo.collabGoal1Date" required>
									<div ng-if="goalsForm.$submitted && goalsForm.collabGoal1Date.$invalid">
										<div when="required" class="validation-error">This field is required</div>
									</div>
								</div>
								<div class="col-xs-12 col-sm-6 form-group goal-status">
									<label for="collabGoal1Status">Goal Status<span class="required">*</span></label>
									<select name="collabGoal1Status" id="collabGoal1Status" class="form-control" ng-model="goalsFormInfo.collabGoal1Status" required>
										<option value="">Please select status</option>
										<option ng-repeat="status in goalStatus" value="{{status}}">{{status}}</option>
									</select>
									<div ng-if="goalsForm.$submitted && goalsForm.collabGoal1Status.$invalid">
										<div when="required" class="validation-error">This field is required</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>

		<section class="row section flex-section">
			<div class="col-md-3 section-header goals-team-member-details">
				<h2>Team Member Details</h2>
			</div>
			<div class="col-xs-10 col-xs-offset-1 col-md-8 col-md-offset-1">
				<div class="row form-group">
					<label for="empFirstName">Team Member Name<span class="required">*</span></label>
					<div class="row name">
						<div class="col-xs-12 col-sm-6">
							<input type="text" name="empFirstName" id="empFirstName" placeholder="Team Member First Name" class="form-control" ng-model="goalsFormInfo.empFirstName" required>
							<div ng-if="goalsForm.$submitted && goalsForm.empFirstName.$invalid">
								 <div when="required" class="validation-error">This field is required</div>
								</div>
						</div>
						<div class="col-xs-12 col-sm-6">
							<input type="text" name="empLastName" id="empLastName" class="form-control" placeholder="Team Member Last Name" ng-model="goalsFormInfo.empLastName" required>
							<div ng-if="goalsForm.$submitted && goalsForm.empLastName.$invalid">
								 <div when="required" class="validation-error">This field is required</div>
							</div>
						</div>
					</div>
				</div>

				<div class="row form-group">
					<div class="row">
						<div class="col-sm-6 form-group">
							<label for="empJobTitle">Team Member Job Title<span class="required">*</span></label>
							<input type="text" name="empJobTitle" id="empJobTitle" class="form-control" placeholder="Team Member Job Title" ng-model="goalsFormInfo.empJobTitle" required>
							<div ng-if="goalsForm.$submitted && goalsForm.empJobTitle.$invalid">
								 <div when="required" class="validation-error">This field is required</div>
							</div>
						</div>
						<div class="col-sm-6 form-group">
							<label for="feedbackYear">Feedback Year<span class="required">*</span></label>
							<select name="feedbackYear" id="feedbackYear" class="form-control" ng-model="goalsFormInfo.feedbackYear" required>
								<option value="" disabled>Please select feedback year</option>
								<option value="2017" selected>2016-2017</option>
							</select>
							<div ng-if="goalsForm.$submitted && goalsForm.feedbackYear.$invalid">
								 <div when="required" class="validation-error">This field is required</div>
							</div>
						</div>
					</div>
				</div>
				<div class="row form-group">
					<label for="manFirstName">Team Member Manager<span class="required">*</span></label>
					<div class="row name">
						<div class="col-xs-12 col-sm-6">
							<input type="text" name="manFirstName" id="manFirstName" placeholder="Manager First Name" class="form-control" ng-model="goalsFormInfo.manFirstName" required>
							<div ng-if="goalsForm.$submitted && goalsForm.manFirstName.$invalid">
								 <div when="required" class="validation-error">This field is required</div>
							</div>
						</div>
						<div class="col-xs-12 col-sm-6">
							<input type="text" name="manLastName" id="manLastName" placeholder="Manager Last Name" class="form-control" ng-model="goalsFormInfo.manLastName" required>
							<div ng-if="goalsForm.$submitted && goalsForm.manLastName.$invalid">
								 <div when="required" class="validation-error">This field is required</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>

		<section class="row section buttons">
			<div class="col-sm-12">
				<div class="form-group">
					<button type="submit" class="btn btn-default">Save Goals</button>
				</div>
				<div>
					<pre> goalsFormInfo = {{ goalsFormInfo | json }}</pre>
				</div>
			</div>
		</section>

	</form>

</main>
