<div class="container">
	<header class="hero-header">
		<h1><img class="center-block img-responsive" src="/assets/images/header-halfway-check-large.png" alt="LEVEL Halfway Checkin"></h1>
	</header>

	<form name="halfwayForm" ng-submit="saveHalfwayForm()" novalidate autocomplete="off">
		<div class="row form-group">
			<div class="col-xs-6">
				<label>Team Member Name
					<input type="text" name="emp-first-name" class="form-control" placeholder="Team Member First Name" required ng-model="halfwayFormInfo.empFirstName">
				</label>
			</div>
			<div class="col-xs-6">
				<label>&nbsp;
					<input type="text" name="emp-last-name" class="form-control" placeholder="Team Member Last Name" required ng-model="halfwayFormInfo.empLastName">
				</label>
			</div>
		</div>

		<div class="row form-group">
			<div class="col-xs-6">
				<label>Manager Name
					<input type="text" name="man-first-name" class="form-control" placeholder="Manager First Name" required ng-model="halfwayFormInfo.manFirstName">
				</label>
			</div>
			<div class="col-xs-6">
				<label>&nbsp;
					<input type="text" name="man-last-name" class="form-control" placeholder="Manager Last Name" required ng-model="halfwayFormInfo.manLastName">
				</label>
			</div>
		</div>





			<button class="btn btn-default center-block" type="submit">submit</button>

			<div class="row">
				<pre> halfwayFormInfo: {{halfwayFormInfo | json }}
			</div>

		</section>
	</form>
</div>
