<main class="container">

	<header class="hero-header">
		<h1 class="header-halfway">LEVEL Performance Reviews: Halfway Checkin</h1>
	</header>

	<form name="halfwayForm" novalidate autocomplete="off" ng-submit="halfwayForm.$valid && saveHalfwayForm()">

		<section class="section flex-section row">
			<div class="section-header col-md-3">
				<h2>Team Member Details</h2>
			</div>

			<div class="col-xs-10 col-xs-offset-1 col-md-8 col-md-offset-1">
				<div class="row form-group">
					<label for="empFirstName">Team Member Name<span class="required">*</span></label>

					<div class="row">
						<div class="col-xs-12 col-sm-6 form-group">
							<input type="text" name="empFirstName" id="empFirstName" placeholder="Team Member First Name" class="form-control" ng-model="halfwayFormInfo.empFirstName" required>
							<div ng-messages="halfwayForm.empFirstName.$error" ng-if="halfwayForm.empFirstName.$invalid && halfwayForm.$submitted">
								<div ng-message="required" class="validation-error">This field is required</div>
							</div>
						</div>
						<div class="col-xs-12 col-sm-6 form-group">
							<input type="text" name="empLastName" id="empLastName" placeholder="Team Member Last Name" class="form-control" ng-model="halfwayFormInfo.empLastName" required>
							<div ng-messages="halfwayForm.empLastName.$error" ng-if="halfwayForm.empLastName.$invalid && halfwayForm.$submitted">
								<div ng-message="required" class="validation-error">This field is required</div>
							</div>
						</div>
					</div>
				</div>

				<div class="row">
					<label for="manFirstName">Manager Name<span class="required">*</span></label>

					<div class="row">
						<div class="col-xs-12 col-sm-6 form-group">
							<input type="text" name="manFirstName" id="manFirstName" placeholder="Manager First Name" class="form-control" ng-model="halfwayFormInfo.manFirstName" required>
							<div ng-messages="halfwayForm.manFirstName.$error" ng-if="halfwayForm.manFirstName.$invalid && halfwayForm.$submitted">
								<div ng-message="required" class="validation-error">This field is required</div>
							</div>
						</div>
						<div class="col-xs-12 col-sm-6">
							<input type="text" name="manLastName" id="manLastName" placeholder="Manager Last Name" class="form-control" ng-model="halfwayFormInfo.manLastName" required>
							<div ng-messages="halfwayForm.manLastName.$error" ng-if="halfwayForm.manLastName.$invalid && halfwayForm.$submitted">
								<div ng-message="required" class="validation-error">This field is required</div>
							</div>
						</div>
					</div>
				</div>

				<div class="row">
					<label for="performYear">Performance Year<span class="required">*</span></label>

					<div class="row">
						<div class="col-xs-12 col-sm-6 form-group">
							<select name="performYear" id="performYear" class="form-control" ng-model="halfwayFormInfo.performYear" required>
								<option value="">Please select a year</option>
								<option value="2017-2018">2017-2018</option>
								<option value="2018-2019">2018-2019</option>
							</select>
							<div ng-messages="halfwayForm.performYear.$error" ng-show="halfwayForm.performYear.$invalid && halfwayForm.$submitted">
								<div ng-message="required" class="validation-error">This field is required</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>

		<section class="section flex-section row">
			<div class="section-header col-md-3">
				<h2>Nine-Box Rating</h2>
			</div>
			<div class="col-xs-10 col-xs-offset-1 col-md-8 col-md-offset-1">
				<div ng-include="'/views/shared/nine-box-diagram.html'"></div>
			</div>
		</section>

		<section class="section flex-section row">
			<div class="section-header col-md-3">
				<h2 >Supporting Comments</h2>
			</div>
			<div class="col-xs-10 col-xs-offset-1 col-md-8 col-md-offset-1">

				<div class="row form-group">
					<label for="supportingComments" id="supp">supporting comments<span class="required">*</span></label>
					<textarea name="supportingComments" id="supportingComments" class="form-control" rows="10" ng-model="halfwayFormInfo.supportingComments" required></textarea>
					<div ng-messages="halfwayForm.supportingComments.$error" ng-show="halfwayForm.supportingComments.$invalid && halfwayForm.$submitted">
						<div ng-message="required" class="validation-error">This field is required</div>
					</div>
				</div>
			</div>
		</section>

		<section class="section buttons row">
			<div class="col-sm-12">
				<div class="form-group">
					<button type="submit" class="btn btn-default">Submit Halfway Checkin</button>
				</div>
				<div>
					<pre> halfwayFormInfo: {{halfwayFormInfo | json }} </pre>
				</div>
			</div>
		</section>

	</form>
</main>
