<main class="container">

    <header class="hero-header">
        <h1 class="header-peer">LEVEL Performance Feedback Request</h1>
    </header>

    <form name="peerForm" novalidate autocomplete="off" ng-submit="peerForm.$valid && submitFeedback()">

        <section class="section flex-section row">
            <div class="section-header col-md-3">
                <h2>Login Credentials</h2>
            </div>

            <!-- form column -->
            <div class="col-xs-10 col-xs-offset-1 col-md-8 col-md-offset-1">

                <!-- xtra div row for name over multiple fields -->
                <div class="row form-group">
                    <label for="memberFirstName">Team Member Name<span class="required">*</span></label>

                    <div class="row">
                        <div class="col-xs-12 col-sm-6 form-group">
                            <input type="text" name="lionLogin" id="lionLogin" placeholder="Lion Login" class="form-control" required ng-model="credentials.lionLogin">
                            <div ng-messages="loginForm.lionLogin.$error" ng-if="loginForm.lionLogin.$invalid && loginForm.$submitted">
                             <div ng-message="required" class="validation-error">This field is required</div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 form-group">
                            <input type="password" name="password" id="password" placeholder="Password" class="form-control" required ng-model="credentials.password">
                            <div ng-messages="loginForm.password.$error" ng-if="loginForm.password.$invalid && loginForm.$submitted">
                                <div ng-message="required" class="validation-error">This field is required</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        
        <section class="row section buttons">
            <div class="col-sm-12">
                <div class="form-group">
                    <p>Your peer feedback will remain confidential and only be shared with the Team Member's manager.</p>
                    <button type="submit" class="btn btn-default">Provide Peer Feedback</button>
                </div>
                <div>
                    <pre> peerFormInfo = {{ peerFormInfo | json }}</pre>
                </div>
            </div>
        </section>

    </form>

</main>
