@import '_responsive';
@import '_colors';

$sidebarW: 200px;

.per-dashContain {
	position: relative;

	.per-dashCycle {
		text-transform: uppercase;
	}

	.per-sidebar {
		width: $sidebarW;
		height: 100%;
		@include breakpoint(xs) {
			width: $sidebarW - 50;
		}

		position: absolute;
		background: $altColorLt;

		ul {
			-webkit-padding-start: 0;
			padding-left: 40px;
			@include breakpoint(xs) {
				padding-left: 20px;
			}

			li {
				list-style-type: none;
				font-size: 14px;
				line-height: 58px;
				cursor: pointer;

				a{
					margin-left: -40px;
					padding-left: 40px;
					@include breakpoint(xs) {
						margin-left: -20px;
						padding-left: 20px;
					}

					display: block;
					cursor: pointer;

					&.per-sideActive {
						background: $altColor;
						position: relative;

						&:after {
							width: 0;
							height: 0;
							border-top: 20px solid transparent;
						    border-bottom: 20px solid transparent;
						    border-left: 20px solid transparent;
						    border-right: 20px solid #fff;

							content: "";
							display: block;
							position: absolute;
							right: 0;
							top: 10px;
						}
						
					}

					&:hover {
						background: #efefef;
					}

				}
			}
		}
	}

	.per-dash {
		padding-left: $sidebarW + 20px;
		@include breakpoint(xs) {
			padding-left: $sidebarW - 30;
		}

		background: #fff;

		.per-dashHead {
			padding-top: 20px;

			.per-dashUser {
				margin-top:0;

				display:inline-block;
				font-size: 18px;
				text-transform: uppercase;

				img{ 
					width: 18px;
					height: 18px;

					display: inline-block;
					vertical-align: top;
				}
			}

			.per-dashDate {
				text-align: right;
			}

		}

		.per-dashTracker {
			margin: 10px auto;
			padding: 10px;

			display: block;
			background: $altColorDk;
			color: #fff;
			@include breakpoint(md) {
				width: 720px;
				height: 50px;

				background: url(../img/timeline_medium.png) no-repeat center center;
				background-size: 720px 50px;

				span{
					display: none;
				}

			}
			@include breakpoint(lg) {
				width: 920px;
				height: 50px;

				background: url(../img/timeline_large.png) no-repeat center center;
				background-size: 920px 50px;
			}
		}

		.per-dashInfo {
			@include breakpoint(md) {
				text-align: right;
			}
			
			.per-dashCycleEnd {
				font-size: 36px;
				line-height: 44px;
			}


		}

	}

}