// forms

.section {
	margin-bottom: $element-spacing;
	padding-bottom: $section-spacing;

	&:hover,
	&:active {
		.section-header {
			background: $blue-grey;
		}
	}

	&:last-child {
		padding-top: 40px;
		border-top: 1px solid $light-grey;
	}

	.name > div + div {
		margin-top: 24px;

		@include breakpoint(sm) {
			margin-top: 0;
		}
	}

	@include breakpoint(sm) {
		&:last-child {
			padding-top: $section-spacing;
		}
	}

	@include breakpoint(md) {
		margin-bottom: $section-spacing;
		border-bottom: 1px solid $light-grey;
		&:last-child {
			padding-top: 0;
			border-top: 0;
			border-bottom: 0;
		}
	}
}

.section-header {
	@include transition(background);
}

.form-control {
	height: auto;
	padding: 12px $element-spacing;
	border-radius: 0;
	box-shadow: none;

	@include transition(box-shadow);

	&:focus,
	&:active {
		@include focus-outline;
	}
}

label {
	margin-bottom: 6px;
}

input, textarea {
	@include transition(box-shadow);
}

.subsection-header {
	margin-top: 0;
	margin-bottom: $element-spacing;
}

.form-group:last-child {
	margin-bottom: 0;
}

@include breakpoint(md) {
	.register .row:last-child > .form-group {
		margin-bottom: 0;
	}
}