@import "shared/abstracts/variables";
@import "shared/abstracts/mixins";
@import "shared/abstracts/functions";
@import "shared/base/colors";
@import "shared/vendors/flexbox";

// content
.per-dash-contain {
	padding: 0;
	position: relative;

	// Maybe move to typography?
	.attn-text {
		color: $red;
	}

	// LAYOUT //
	&.flex-dash {
		@include flexbox;
		@include flex-direction;
		flex: 1;
	}

	.per-sidebar {

		@include breakpoint(sm) {
			width: 25%;
		}

		@include breakpoint(md) {
			width: 16.6667%;
		}

	}

	.per-dash {
		padding: 0;

		@include breakpoint(sm) {
			padding: 0 $section-spacing;
			width: 75%;
		}

		@include breakpoint(md) {
			width: 83.3333%;
		}
	}


	// STYLE  //
	.per-sidebar {
		background: $light-grey;

		.per-nav {
			-webkit-padding-start: 0;
			padding-left: 40px;

			@include breakpoint(xs) {
				padding: 0;
			}

			li {
				list-style-type: none;
				cursor: pointer;

				a {
					padding: 1em 0 1em 40px;
					border: none;
					margin-left: -40px;
					color: $dark-grey;

					@include breakpoint(xs) {
						margin-left: 0;
						padding: 1em 10px;
					}

					display: block;
					cursor: pointer;

					.nav-text {
						display: none;
						@include breakpoint(sm) {
							display: inline-block;;
						}
					}

					.glyphicon {
						font-size: 1.5em;
						vertical-align: middle;

						@include breakpoint(sm) {
							display: none;
						}
					}

					&.per-side-active {
						background: $lightest-grey;
						position: relative;

						&:after {
							width: 0;
							height: 0;
							border-top: 10px solid transparent;
							border-bottom: 10px solid transparent;
							border-left: 10px solid transparent;
							border-right: 10px solid $white;

							content: "";
							display: block;
							position: absolute;
							right: 0;
							top: 1em;
						}
					}

					&:hover {
						background: transparentize($lightest-grey, 0.5);
					}

				}
			}
		}
	}

	.per-dash {
		background: $white;

		.dash-card {
			padding: 1em;
			margin: 0 auto 1em;
			background: #fff;
			box-shadow: 0 0 2px rgba($dark-grey, .1), 0 2px 0 rgba($dark-grey, .2);

			h1, h2, h3, h4, h5, h6 {
				margin-top: 0;
				text-transform: uppercase;
			}

			&.user-details {
				img {
					width: 72px;
					height: 72px;
					margin-right: .25em;
					display: inline-block;
					float: left;
				}
			}

			&.to-do {
				table {
					width: 100%;
					td {
						padding: .5em;
						vertical-align: top;
						border: 1px solid $red;

						@include breakpoint(sm) {
							padding: 1em;
						}
					}
				}
			}
		}

		.due-date {
			min-width: 80px;

			@include breakpoint(sm) {
				min-width: 100px;
			}

			.days-left {
				display: block;
			}
		}

		.due-soon {
			text-transform: uppercase;

			.due-date {
				background: $red;
				color: $white;
			}

			.days-left {
				color: $white;
				font-weight: 700;
			}

		}

		.due-tasks {
			width: 90px;

			@include breakpoint(xs) {
				width: 60px;
			}
		}

		.icon-edit {
			@include resp-img(26px, 30px, 'icon-edit-large');
		}

		.icon-ical {
			@include resp-img(26px, 30px, 'icon-ical-large');
		}

		.icon-edit, .icon-ical {
			display: inline-block;
			border: none;
			text-decoration: none;
			cursor: pointer;
			opacity: .8;

			&:hover {
				opacity: 1;
			}
		}

		// CALENDAR WHEEL (svg-specific styles)
		.lvl-calendar-wheel {
			width: 400px;
			height: 400px;
			margin: 0 auto;
			display: none;

			@include breakpoint(sm) {
				display: block;
			}
		}

		.slice {
			fill: $white;
			stroke: $red;
			stroke-width: 2;
		}
		.slice-active {
			fill: $red;
			stroke: $red;
			stroke-width: 2;
		}
		.slice-text {
			fill: $dark-grey;
		}
		.slice-text-active {
			fill: $white;
		}

		.form-row {
			border-bottom: 2px solid $lightest-grey;
			margin: 0 0 10px;

			.btn {
				margin-bottom: 10px;
			}

			[class^="col-"], [class*=" col-"] {
				padding: 0;
			}
		}
	}

}
