label {
	display: block;
}

input[type='text'], textarea, select {
	margin-top: 6px;
}

input[type='radio'] {
	margin-right: 8px;
}


.nine-box-temp {
	border: 1px dashed red;
	height: 50px;
	margin-right: 1px;
}