<!DOCTYPE html>
<html lang="en" ng-app="ssApp">
	<head>
		<meta charset="utf-8">
    	<title>LEVEL Performance Enablement Web Application</title>
    	<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="/styles/main.built.css">
		<link rel="stylesheet" href="/styles/dashboard.built.css">
		<link rel="stylesheet" href="/styles/goal-setting.built.css">
  	</head>
  	<body>
  		<section ng-view></section>
  		<script src="/scripts/main.built.js"></script>

  		<!-- <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.js"></script>
		<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular-route.js"></script>
		<script src="/scripts/main.js"></script>
		<script src="/scripts/routes/client-routes.js"></script>
		<script src="/scripts/controllers/register-controller.js"></script>
		<script src="/scripts/controllers/login-controller.js"></script>
		<script src="/scripts/controllers/dashboard-controller.js"></script>
		<script src="/scripts/controllers/goals-controller.js"></script>
		<script src="/scripts/controllers/halfway-checkin-controller.js"></script>
		<script src="/scripts/services/register-user-service.js"></script>  -->
  	</body>
</html>
