<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
    	<title>LEVEL Performance Enablement Web App</title>
    	<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<!-- TODO: use Gulp to concat all CSS files into one built file -->
		<link rel="stylesheet" href="/styles/main.built.css">
		<link rel="stylesheet" href="/styles/dashboard.built.css">
		<link rel="stylesheet" href="/styles/goal-setting.built.css">
	</head>
  	<body>
  		<section ng-view></section>
  		<script src="/scripts/main.built.js"></script>
  	</body>
</html>
