<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
    	<title>LEVEL Performance Enablement Web Application</title>
    	<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="/built/styles/main.built.css">
		<link rel="stylesheet" href="/built/styles/dashboard.built.css">
		<link rel="stylesheet" href="/built/styles/goal-setting.built.css">
  	</head>
  	<body>
  		<section ng-view></section>
  		<script src="/built/js/index.built.js"></script>
		<!-- Ang Main Module File -->
		<script src="client-app.js"></script>
		<!-- Ang Routing -->
		<script src="routes/client-routes.js"></script>
		<!-- Ang Controllers: TODO: use gulp to bundle these -->
		<script src="controllers/register-controller.js"></script>
		<script src="controllers/log-in-controller.js"></script>
		<script src="controllers/dashboard-controller.js"></script>
		<script src="controllers/goals-controller.js"></script>
		<script src="controllers/halfway-checkin-controller.js"></script>
		<!-- Ang Services -->
		<script src="services/register-user-service.js"></script>
  	</body>
</html>
