<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
    	<title>LEVEL Performance Enablement Web Application</title>
    	<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<!-- SS app styles: TODO: use gulp to bundle these into one file -->
		<link rel="stylesheet" href="/built/styles/main.built.css">
		<link rel="stylesheet" href="/built/styles/dashboard.built.css">
		<link rel="stylesheet" href="/built/styles/goal-setting.built.css">
  	</head>
  	<body>
  		<section ng-view></section>
		<!-- Ang Library Files - TODO: Get rid of CDN - go local copy or npm module instead -->
		<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
		<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular-route.js"></script>
		<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular-messages.js"></script>
		<!-- Ang Main Module File -->
		<script src="client-app.js"></script>
		<!-- Ang Routing -->
		<script src="routes/client-routes.js"></script>
		<!-- Ang Controllers: TODO: use gulp to bundle these -->
		<script src="controllers/register-controller.js"></script>
		<script src="controllers/log-in-controller.js"></script>
		<script src="controllers/dashboard-controller.js"></script>
		<script src="controllers/goals-controller.js"></script>
		<script src="controllers/halfway-checkin-controller.js"></script>
		<!-- Ang Services -->
		<script src="services/register-user-service.js"></script>
  	</body>
</html>
