<!DOCTYPE html>
<html>
	<head>
    	<title>LEVEL Project SugarSnaps</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css">
  	</head>
  	<body>
  		<h3 class="text-center">LEVEL Project SugarSnaps: based on <a href="https://github.com/meanjs/mean-simple-auth" target="_blank"> meanjs / mean-simple-auth </a>
  		 </h3>
  		<section ng-view></section>
		<script>
			window.user = <%- user || 'null' %>;
		</script>
		<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.js"></script>
		<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular-route.js"></script>
		<script src="application.js"></script>
		<script src="controllers/authentication.client.controller.js"></script>
		<script src="controllers/index.client.controller.js"></script>
		<script src="services/authentication.client.service.js"></script>
		<script src="config/application.client.routes.js"></script>
  	</body>
</html>
