<!DOCTYPE html>
<html>
	<head>
    	<title>LEVEL Project SugarSnaps</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css">
  	</head>
  	<body>
  		<section ng-view></section>

		<script>
			window.user = <%- user || 'null' %>;
		</script>

		<!-- Ang Library Files - TODO: Upgrade this version to 1.5 and/or put this in package.json instead -->
		<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
		<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular-route.js"></script>
		<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular-messages.js"></script>
		<!-- Ang Main Module File -->
		<!--<script src="client-app.js"></script>-->
		<script src="client-app.js"></script>

		<!-- Ang Controllers -->
		<script src="controllers/register-controller.js"></script>
		<script src="controllers/dash-test-controller.js"></script>
		<script src="controllers/log-in-controller.js"></script>
		<script src="controllers/goals-controller.js"></script>
		<script src="controllers/halfway-checkin-controller.js"></script>

		<!-- <script src="controllers/example-index-client-controller.js"></script> -->

		<!-- Ang Services File -->
		<!-- <script src="services/example-auth-client-service.js"></script> -->
		<script src="services/register-user-service.js"></script>

		<!-- Ang Routing file -->
		<script src="routes/client-routes.js"></script>
		<!--<script src="routes/example-client-routes.js"></script>-->

  	</body>
</html>
