@import "shared/abstracts/functions";
@import "shared/base/colors";

$sidebarW: 200px;

// content
.per-dash-contain {
	position: relative;

	.per-dash-cycle {
		text-transform: uppercase;
	}

	.per-sidebar {
		width: $sidebarW;
		height: 100%;

		font-size: 12px;
		font-weight: normal;
		font-style: normal;
		line-height: 58px;

		@include breakpoint(xs) {
			width: $sidebarW - 50;
		}

		position: absolute;
		background: $light-grey;

		ul {
			-webkit-padding-start: 0;
			padding-left: 40px;
			@include breakpoint(xs) {
				padding-left: 20px;
			}

			li {
				list-style-type: none;
				cursor: pointer;

				a {
					color: $dark-grey;
					margin-left: -40px;
					padding-left: 40px;
					@include breakpoint(xs) {
						margin-left: -20px;
						padding-left: 20px;
					}

					display: block;
					cursor: pointer;

					&.per-side-active {
						background: $lightest-grey;
						position: relative;

						&:after {
							width: 0;
							height: 0;
							border-top: 10px solid transparent;
							border-bottom: 10px solid transparent;
							border-left: 10px solid transparent;
							border-right: 10px solid #fff;

							content: "";
							display: block;
							position: absolute;
							right: 0;
							top: 20px;
						}
					}

					&:hover {
						background: transparentize($lightest-grey, 0.5);
					}

				}
			}
		}
	}

	.per-dash {
		padding-left: $sidebarW + 20px;
		@include breakpoint(xs) {
			padding-left: $sidebarW - 30;
		}

		background: #fff;

		.per-dash-head {
			padding-top: 20px;

			.per-dash-user {
				margin-top:0;

				display:inline-block;
				font-size: 30px;
				font-weight: bold;
				font-style: normal;
				line-height: 36px;
				letter-spacing: 1px;
				text-transform: uppercase;

				img {
					width: 36px;
					height: 36px;

					display: inline-block;
					vertical-align: top;
				}
			}

			.per-dash-date {
				text-align: right;
			}
		}

		.per-dash-content {
			line-height: 24px;

			h2 {
				margin-top: 0;
			}

			p,
			ul {
				margin-bottom: 24px;
			}

			.quick-links {
				font-size: 18px;
				font-weight: normal;
				font-style: normal;
				line-height: 26px;
			}

			a {
				color: #999;
				text-decoration: none;
				transition: all 0.2s ease;
				border-bottom: 1px solid #ccc;

				&:hover {
					color: $red;
				}
			}
		}

		.per-dash-tracker {
			margin: 10px auto 28px;
			padding: 10px;

			display: block;
			font-size: 24px;
			font-weight: normal;
			font-style: normal;
			line-height: 30px;
			letter-spacing: 2px;
			background: $red;
			color: #fff;
			@include breakpoint(md) {
				margin-bottom: 24px;
				width: 720px;
				height: 50px;

				background: url(/assets/images/sept-medium.png) no-repeat center center;
				background-size: 720px 50px;

				span{
					display: none;
				}

			}
			@include breakpoint(lg) {
				width: 920px;
				height: 50px;

				background: url(/assets/images/sept-large.png) no-repeat center center;
				background-size: 920px 50px;
			}
		}

		.per-dash-info {
			@include breakpoint(md) {
				text-align: right;
			}

			.per-dash-cycle-end {
				display: block;
				margin-top: 8px;
				color: $red;
				font-size: 24px;
				font-weight: bold;
				font-style: normal;
				line-height: 30px;
				letter-spacing: 1px;
				text-transform: uppercase;
			}
		}
	}
}