@import "shared/abstracts/functions";
@import "shared/abstracts/variables";
@import "shared/base/colors";

.goals {
	margin-bottom: 40px;

	&:last-child {
		margin-bottom: 0;
	}
}

.goal {
	margin-bottom: $section-spacing;

	&:last-child {
		margin-bottom: 0;
	}
}

.goal + .goal {
	margin-top: 40px;
}

.due-date + div {
	margin-top: 0;
}

@include breakpoint(md) {
	.goals:last-child .goal .form-group .row .form-group {
		margin-bottom: 0;
	}
}